
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.desktop {
    position: fixed;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 55px;
    padding: 2px;
    background: #000000;
}

.left-block {
    display: flex;
    align-items: center; /*вертикальное выравнивание элементов*/
}

.right-block {
    display: flex;
    align-items: center; /*вертикальное выравнивание элементов*/
}


ul.menu {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 20px; /*расстояние между элементами меню*/
}

.right-block a {
    color: white;
    text-decoration: none;
    margin-left: 20px; /*отступы между ссылками*/
}


.background {
    background-image: url('assets/JPG/portfolio_background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
  }

.portfolio-container {
    display: flex;              /*расположить фото и текст рядом*/
    align-items: center;        /*вертикальное выравнивание по центру*/
    margin-left: 20%;           /*сместить контейнер немного слева*/
    margin-top: 50px;           /*отступ сверху*/
}

.portfolio_foto {
    width: 350px;               /*маленькая ширина фото*/
    height: 350px;              /*маленькая высота фото*/
    object-fit: cover;          /*обрезка фото, чтобы оно оставалось квадратным*/
    border-radius: 190px;        /*небольшое закругление углов*/
    border: 5px solid #070505;     /*рамка для изображения*/
    margin-right: 20px;         /*отступ справа от фото до текста*/
}

.portfolio-info {
    text-align: left;           /*текст рядом с фото*/
}

.background {
    background-color: #f0f0f0;  /*фон страницы*/
    padding: 10px;
    height: 100vh;              /*высота страницы*/
}

.content-container {
    margin-left: 55%;           /*сместить весь контент немного слева*/
    margin-top: 160px;           /*отступ сверху*/
}

h1, h2, p {
    font-style: italic;
}
h1 {
    font-size: 75px;
    color: #0c0c0c;
    letter-spacing: 2px;        /*расстояние между буквами*/
    margin-top: 20px;           /*Отступ сверху*/
    margin-left: 0px;
}

h2 {
    font-size: 62px;
    color: #0c0b0b;
    margin-top: 20px;
    margin-left: 0px;
}

p {
    font-size: 18;
    color: #777;
}

/* Стили для меню */
ul.menu {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: left;
    gap: 50px;
    margin-left: 100px;
}

ul.menu li {
    display: inline-block;
}

ul.menu li a {
    font-style: italic;
    font-size: 30px;   /*Увеличенный размер шрифта для меню */
    color: #f7f4ef;
    text-decoration: none;
    padding: 10px 15px;
    border-radius: 5px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

ul.menu li a:hover {
    background-color: rgba(245, 244, 243, 0.7); /* Прозрачный фон */
    transform: translateY(-2px);
    cursor: pointer; /* Изменение курсора */

}

ul.menu li a {
    letter-spacing: 1px;
    text-align: center;
}

/* Адаптивные стили для меньших экранов */
@media (max-width: 768px) {
    ul.menu li a {
        font-size: 18px;
    }
}
/* Стили для элемента <article> и текста в нем */
article {
    margin-left: 20px; /* Сместить текст немного от левого края */
}

article p {
    margin: 20px 0; /* Отступы сверху и снизу */
    line-height: 1.6; /* Междустрочный интервал */
    color: #000000;
}