
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.desktop {
    position: fixed;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 55px;
    padding: 2px;
    background: #000000;
}

.left-block {
    display: flex;
    align-items: center; /*вертикальное выравнивание элементов*/
}

.right-block {
    display: flex;
    align-items: center; /*вертикальное выравнивание элементов*/
}


ul.menu {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 20px; /*расстояние между элементами меню*/
}

.right-block a {
    color: white;
    text-decoration: none;
    margin-left: 20px; /*отступы между ссылками*/
}


.background {
    background-color: #f0f0f0;  /*фон страницы*/
    background-image: url('assets/JPG/portfolio_background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    min-height: 100vh;              /*высота страницы*/
    width: 100vw;
    padding: 5px;
  }

  .content-container {
    display: flex;
    align-items: flex-start; /* Выравнивание по верхнему краю */
    margin-left: 100px; /* Отступ слева */
    margin-top: 250px;
}

.profile-text {
    max-width: 500px;
    margin-right: 20px; /* Отступ справа от текста до фотографии и информации */
    text-align: left;   /* Выравнивание текста по левому краю */
    font-size: 26px;
    background-color: rgba(0, 0, 0, 0.5); /* Полупрозрачный черный фон */
    color: white; /* Цвет текста для контраста */
    padding: 20px; /* Добавляем немного отступа для улучшения читаемости текста */
    border-radius: 8px; /* Закругленные углы для фона (по желанию) */
    
}

   .profile {
    display: flex;                 /* включаем flex для контейнера */
    flex-direction: column;        /* текст под фото */
    align-items: flex-start;           /* центрируем элементы по горизонтали */
    margin-left: 100px;             /* Сместим блок немного от левого края */
    margin-top: -150px;
}

.portfolio_foto {
    width: 350px;               /*маленькая ширина фото*/
    height: 350px;              /*маленькая высота фото*/
    object-fit: cover;          /*обрезка фото, чтобы оно оставалось квадратным*/
    border-radius: 190px;        /*небольшое закругление углов*/
    border: 5px solid #070505;     /*рамка для изображения*/
    margin-bottom: 15px;         /*отступ справа от фото до текста*/
}

.portfolio-info {
    text-align: left;           /*текст рядом с фото*/
    max-width: 300px;

}


h1, h2, p {
    font-style: italic;
}
h1 {
    font-size: 75px;
    color: #0c0c0c;
    letter-spacing: 2px;        /*расстояние между буквами*/
    margin-top: 20px;           /*Отступ сверху*/
    margin-left: 0px;
}

h2 {
    font-size: 62px;
    color: #0c0b0b;
    margin-top: 20px;
    margin-left: 0px;
}

p {
    font-size: 18;
    color: #070606;
}

/* Стили для меню */
ul.menu {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: left;
    gap: 50px;
    margin-left: 100px;
}

ul.menu li {
    display: inline-block;
}

ul.menu li a {
    font-style: italic;
    font-size: 30px;   /*Увеличенный размер шрифта для меню */
    color: #f7f4ef;
    text-decoration: none;
    padding: 10px 15px;
    border-radius: 5px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

ul.menu li a:hover {
    background-color: rgba(245, 244, 243, 0.7); /* Прозрачный фон */
    transform: translateY(-2px);
    cursor: pointer; /* Изменение курсора */

}

ul.menu li a {
    letter-spacing: 1px;
    text-align: center;
}

/* Адаптивные стили для меньших экранов */
@media (max-width: 768px) {
    ul.menu li a {
        font-size: 18px;
    }
}
/* Стили для элемента <article> и текста в нем */
article {
    margin-left: 20px; /* Сместить текст немного от левого края */
}

article p {
    margin: 20px 0; /* Отступы сверху и снизу */
    line-height: 1.6; /* Междустрочный интервал */
    color: #000000;
}